<div class="container" style="padding-top: 100px;">
  <section>
    <div class="row mx-auto">
      <div class="col-lg-4"></div>
      <div class="col-lg-4" style="background-color: #f8f8f8;">
        <br>
        <h1 class="text-center">Crear Usuario</h1>
        <br>
        <form id="crear">
          <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" class="form-control" id="usuario" placeholder="Ingrese su Usuario" name="usuario" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Ingrese su Password" name="password" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password_again">Password</label>
            <input type="password" class="form-control" id="password_again" placeholder="Ingrese su Password De Nuevo" name="password_again" autocomplete="off">
          </div>
          <button onclick="registrar()" type="button" class="btn btn-success btn-block">Registrar</button>
          <br>
          <div class="row">
            <div class="col-xl-6">
              <button type="reset" class="btn btn-danger btn-block">Reiniciar Campos</button>
            </div>
            <div class="col-xl-6">
              <button onclick="volver()" type="button" class="btn btn-primary btn-block">Volver</button>
            </div>
          </div>
        </form>
        <br>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </section>
</div>

<script>
  function volver () {
    $(location).attr('href', '/Login');
  }

  function registrar () {
    if ($('#crear').valid()) {
      $.ajax({
        url: '/Usuario/CrearUsuario',
        method: 'POST',
        data: {
          usuario: $('#usuario').val(),
          password: $('#password').val()
        },
        success: function (result) {
          $(location).attr('href', '/Login');
        }, error: function (xhr, status, error) {
          $.alert({
            title: 'Error al Registrarse',
            content: xhr.responseText
          });
        }
      });
    } else {
      $.alert({
        title: 'Los Passwords no coinciden',
        content: xhr.responseText
      });
    }
  }

  $(document).ready(function () {
    $( "#crear" ).validate({
      rules: {
        password: "required",
        password_again: {
          equalTo: "#password"
        }
      }
    });
  });
</script>
