<div class="container" style="padding-top: 100px;">
  <section>
    <div class="row mx-auto">
      <div class="col-lg-4"></div>
      <div class="col-lg-4" style="background-color: #f8f8f8;">
        <br>
        <h1 class="text-center">Login</h1>
        <br>
        <form>
          <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" class="form-control" id="usuario" placeholder="Ingrese su Usuario" name="usuario" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Ingrese su Password" name="password" autocomplete="off">
          </div>
          <button onclick="ingresar()" type="button" class="btn btn-success btn-block">Ingresar</button>
          <br>
          <div class="row">
            <div class="col-xl-6">
              <button type="reset" class="btn btn-danger btn-block">Reiniciar Campos</button>
            </div>
            <div class="col-xl-6">
              <button onclick="registrar()" type="button" class="btn btn-primary btn-block">Registrarse</button>
            </div>
          </div>
        </form>
        <br>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </section>
</div>

<script>
  function registrar () {
    $(location).attr('href', '/CrearUsuario');
  }

  function ingresar () {
    $.ajax({
      url: '/Auth/Login',
      method: 'POST',
      data: {
          usuario: $('#usuario').val(),
          password: $('#password').val()
      },
      success: function (result) {
        Cookies.set('count', result.comics.length);
        $(location).attr('href', '/');
      }, error: function (xhr, status, error) {
        $.alert({
          title: 'Error al Ingresar',
          content: xhr.responseText
        });
      }
    });
  }
</script>
