<div class="container" style="padding-top: 100px;">
  <section class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="background-color: #f8f8f8;">
          <h3 class="text-center">Proyecto Aplicaciones Web</h3>
          <h5 class="text-center">Andrés David Guerra Vásconez</h5>
          <h5 class="text-center">Patricio Alejandro Chávez Melo</h5>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </section>
</div>
