<!-- Header -->
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>Marvel Comics Store</h1>
      <h3>Compra comics online</h3>
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <a href="https://bitbucket.org/theshoes_ios/carritocompras" class="btn btn-secondary btn-lg">
            <i class="fa fa-bitbucket fa-fw"></i>
            <span class="network-name">Bitbucket</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="/AcercaDe" class="btn btn-secondary btn-lg">
            <span class="network-name">About Us/Acerca De</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Los mejores comics Marvel</h2>
        <p class="lead">
          Podras comprar comics desde cualquier parte del mundo y en cualquier dispositivo.
        </p>
      </div>
      <div class="col-lg-5 mr-auto">
        <img class="img-fluid" src="/images/ipad.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>

<section class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Compra Ahora</h2>
        <p class="lead">
          Haz tu pedido con tan solo unos simples clics.
        </p>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">
        <img class="img-fluid" src="/images/dog.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</section>
<!-- /.content-section-b -->

<section class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Los Mejores y Actuales</h2>
        <p class="lead">Encuentra los mejores comics Marvel del mes.</p>
      </div>
      <div class="col-lg-5 mr-auto ">
        <img class="img-fluid" src="/images/phones.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</section>
<!-- /.content-section-a -->

<aside class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 my-auto">
        <h2>Ingresa a nuestra App <br>Contactanos</h2>
      </div>
      <div class="col-lg-6 my-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://bitbucket.org/theshoes_ios/carritocompras" class="btn btn-secondary btn-lg">
              <i class="fa fa-bitbucket fa-fw"></i>
              <span class="network-name">Bitbucket</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="/AcercaDe" class="btn btn-secondary btn-lg">
              <span class="network-name">About Us</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->

</aside>
<!-- /.banner -->

<!-- Footer -->
<footer>
  <div class="container">
    <p class="copyright text-muted small">Copyright &copy; Pat' OS 2017. Todos los derechos reservados.</p>
  </div>
</footer>
