<!DOCTYPE html>
<html>
<head>
  <title>Pat' OS Comics</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--
      Stylesheets and Preprocessors
      ==============================

      You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your CSS files
          + Import stylesheets from other directories
          + Use a different or additional preprocessor, like SASS, SCSS or Stylus
  -->

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap/css/bootstrap-grid.css">
  <link rel="stylesheet" href="/styles/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/styles/bootstrap/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="/styles/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/styles/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/jquery-confirm.min.css">
  <link rel="stylesheet" href="/styles/landing-page.css">
  <!--STYLES END-->

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
</head>

<body background="/images/background.jpg">

<!-- Navigation -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Pat'OS Comics</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a id="estadoSesion" class="nav-link" href="#">Ingresar</a>
      </li>
      <li id="compras" class="nav-item">
        <a class="nav-link" href="#">Comprar Comics</a>
      </li>
      <li id="libreria" class="nav-item">
        <a id="numLibreria" class="nav-link" href="#">Librería: 0</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AcercaDe">Acerca de Nosotros</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Page Content -->

<%- body %>

<!--TEMPLATES-->

<!--TEMPLATES END-->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/popper/popper.js"></script>
<script src="/js/dependencies/popper/popper.min.js"></script>
<script src="/js/bootstrap/js/bootstrap.js"></script>
<script src="/js/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/js.cookie.js"></script>
<!--SCRIPTS END-->

<script>

  if (Cookies.get('count') !== undefined) {
    $('#numLibreria').text('Librería: ' + Cookies.get('count'));
    $('#estadoSesion').text('Salir');
    $('#estadoSesion').attr('href', '/Auth/Logout');
  } else {
    $('#numLibreria').text('Librería: 0');
    $('#estadoSesion').text('Ingresar');
    $('#estadoSesion').attr('href', '/Login');
  }

  $('#estadoSesion').click(function () {
    let url = $('#estadoSesion').attr('href');
    handleLogin(url);
  })

  $('#compras a').click(function (e) {
    e.preventDefault();
    handleError('/ComprarComics');
  });

  $('#libreria a').click(function (e) {
    e.preventDefault();
    handleError('/LibreriaCompras');
  });

  function handleError (url) {
    $.ajax({
      url: url,
      method: 'get',
      success: function (result) {
        $(location).attr('href', url);
      },
      error: function (xhr, status, error) {
        $.alert({
          title: 'Error de Autorización',
          content: xhr.responseText
        });
      }
    });
  }

  function handleLogin (url) {
    $.ajax({
      url: url,
      method: 'get',
      success: function (result) {
        if (url === '/Login') {
          $(location).attr('href', url);
        } else {
          $(location).attr('href', '/');
          Cookies.remove('count');
        }
      },
      error: function (xhr, status, error) {
        $.alert({
          title: 'Error de Login',
          content: xhr.responseText
        });
      }
    });

  }
</script>

</body>
</html>
