<div class="container" style="padding-top: 50px;" id="initSection">
  <section class="content-section-a">
    <div class="container">
      <div class="row" id="initRow"></div>
    </div>
  </section>
</div>

<script>

  let comicsMarvel;
  let newSection = '';
  let contador = 1;
  let sectionID = '';
  let comicCount = 0;
  let comicAdd = 0;

  let url = "https://gateway.marvel.com:443/v1/public/comics"
  let hash = "?dateDescriptor=thisMonth&ts=1&apikey=d1cd8f7c15025f9d58010b75312dab09&hash=937d6e8ecc37bc5706ad99a46ed08aa5"

  $(document).ready(function(){

    $.get(url + hash, function (data, status, xhr) {
      comicsMarvel = data.data.results;
      comicsMarvel.forEach(function (element, index) {
        if (comicCount == 4 ) {
          comicCount = 1;

          if (contador === 1) {
            $('#initRow').append(newSection);
          } else {
            newSection += '</div></div></section>';
            $('#initSection').append(newSection);
          }

          contador += 1;

          sectionID = 'nextSection' + contador;

          let classSection;
          if (contador % 2 === 0) {
            classSection = 'content-section-b';
          } else {
            classSection = 'content-section-a';
          }

          newSection = '<section class="' + classSection + '" id="' + sectionID + '">' +
                         '<div class="container">' +
                           '<div class="row">' +
                             '<div class="col-xl-3">' +
                               '<div class="card mx-auto" style="width: 242px;">' +
                                 '<img class="card-img-top" src="' + element.thumbnail.path + '/detail.jpg' + '" alt="Comic Image" width="242" height="372">' +
                                 '<div class="card-block">' +
                                   '<h5 class="card-title text-center">' + element.title + '</h5>' +
                                   '<ul class="list-group list-group-flush">' +
                                     '<li class="list-group-item">' + element.format + '</li>' +
                                     '<li class="list-group-item">' + element.series.name + '</li>' +
                                     '<li class="list-group-item">' + element.prices[0].price + '</li>' +
                                     '<li class="list-group-item"><button onclick="agregarLibreria(' + index + ')" class="btn btn-primary">Agregar a Librería</button></li>' +
                                   '</ul>' +
                                 '</div>' +
                               '</div>' +
                             '</div>'
        } else {
          comicCount += 1;
          newSection += '<div class="col-xl-3">' +
                          '<div class="card mx-auto" style="width: 242px;">' +
                            '<img class="card-img-top" src="' + element.thumbnail.path + '/detail.jpg' + '" alt="Comic Image" width="242" height="372">' +
                            '<div class="card-block">' +
                              '<h5 class="card-title text-center">' + element.title + '</h5>' +
                              '<ul class="list-group list-group-flush">' +
                                '<li class="list-group-item">' + element.format + '</li>' +
                                '<li class="list-group-item">' + element.series.name + '</li>' +
                                '<li class="list-group-item">' + element.prices[0].price + '</li>' +
                                '<li class="list-group-item"><button onclick="agregarLibreria(' + index + ')" class="btn btn-primary">Agregar a Librería</button></li>' +
                              '</ul>' +
                            '</div>' +
                          '</div>' +
                        '</div>'
        }
      });
    });
  });

  function agregarLibreria(num) {
    let desc;
    if (comicsMarvel[num].description === null) {
      desc = "Ninguna";
    } else {
      desc = comicsMarvel[num].description;
    }

    $.ajax({
      url: '/Comic/CrearComic',
      method: 'POST',
      data: {
        id: comicsMarvel[num].id,
        title: comicsMarvel[num].title,
        series: comicsMarvel[num].series.name,
        description: desc,
        price: comicsMarvel[num].prices[0].price,
        pathImage: comicsMarvel[num].thumbnail.path
      },
      success: function (result) {
        comicCount = parseInt(Cookies.get('count'));
        comicCount += 1
        Cookies.set('count', comicCount);
        $('#numLibreria').text('Librería: ' + comicCount);

        $.alert({
          title: 'Añadido',
          content: 'Comic Añadido Exitosamente'
        });
      },
      error: function (xhr, status, error) {
        $.alert({
          title: 'Error al Añadir Comic',
          content: xhr.responseText
        });
      }
    });
  }


</script>
