<div class="container" style="padding-top: 50px;" id="initBuySection">

</div>

<script>

  let newSection = '';

  $(document).ready(function() {

    $.ajax({
      url: '/Comic/CargarComics',
      method: 'GET',
      success: function (comicsAdded) {
        comicsAdded.forEach(function (element, index) {

          let classSection;
          if (index % 2 === 0) {
            classSection = 'content-section-a';
          } else {
            classSection = 'content-section-b';
          }

          newSection = '<section class="' + classSection + '" id="comicCarrito' + index + '">' +
            '<div class="container">' +
            '<div class="row">' +
            '<div class="col-xl-2">' +
            '<img src="' + element.pathImage + '/detail.jpg' + '" alt="Comic Image" width="100%">' +
            '</div>' +
            '<div class="col-xl-10">' +
          '<ul class="list-group list-group-flush align-middle">' +
          '<li class="list-group-item">' + element.description + '</li>' +
          '<li class="list-group-item">' + element.series + '</li>' +
          '<li class="list-group-item">' + element.price + '</li>' +
          '</ul>' +
          '</div>' +
          '</div></div></section>'

          $('#initBuySection').append(newSection);
        });
      },
      error: function (xhr, status, error) {
        $.alert({
          title: 'Error en la librería',
          content: xhr.responseText
        });
      }
    });
  });

  function borrarCarrito(num) {
    //comicsAdded.splice(num, 1);
    $('#numCarrito').remove();
  }


</script>
